@using InternetPhotoAlbum.WEB.Models;
@model SharedLayoutViewModel

@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1>Восстановление аккаунта</h1>
</hgroup>
<div>
    <p>
        Проверте, пожалуйста, вашу почту
    </p>
</div>