@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">Заблокирован</h1>
    <h2 class="text-danger">Эта учетная запись заблокирована, попробуйте, пожалуйста позже</h2>
</hgroup>
