@model InternetPhotoAlbum.WEB.Models.SharedLayoutViewModel
@{
    ViewBag.Title = "Upload is too large";
}

<h2 class="text-danger">Большая загрузка</h2>
<h3 class="text-danger">Файл загрузки слишком большой</h3>